Repository m-davoodi/contacts-management: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --max-warnings 0

.lintstagedrc:

{
    "*.{ts,tsx,js,jsx,json,md}": "yarn prettier --write",
    "*.{ts,tsx,js,jsx}":
        "yarn eslint --max-warnings 0",
}

chore: add format and lint command into package.json
  package.json
Due: yarn prettier --write

chore: create node.js github action workflow
  .github/workflows/node.js.yml
Due: none

chore: run yarn format command
  src/index.css
  src/index.tsx
Due: yarn prettier --write, yarn eslint --max-warnings 0

feat: add github page
  .github/workflows/node.js.yml
  package.json
  yarn.lock
Due: yarn prettier --write

feat: add license
  LICENSE
Due: none

feat: add badges to README
  .github/workflows/node.js.yml
  README.md
Due: yarn prettier --write

chore: install storybook
  .gitignore
  .storybook/main.js
  .storybook/preview.js
  package.json
  src/stories/Button.stories.tsx
  src/stories/Button.tsx
  src/stories/Header.stories.tsx
  src/stories/Header.tsx
  src/stories/Introduction.stories.mdx
  src/stories/Page.stories.tsx
  src/stories/Page.tsx
  src/stories/assets/code-brackets.svg
  src/stories/assets/colors.svg
  src/stories/assets/comments.svg
  src/stories/assets/direction.svg
  src/stories/assets/flow.svg
  src/stories/assets/plugin.svg
  src/stories/assets/repo.svg
  src/stories/assets/stackalt.svg
  src/stories/button.css
  src/stories/header.css
  src/stories/page.css
  yarn.lock
Due: yarn prettier --write, yarn eslint --max-warnings 0

feat: implement contacts page with its table
  package.json
  src/App.test.tsx
  src/App.tsx
  src/core/domain/rest/index.ts
  src/core/domain/rest/types.ts
  src/core/domain/user/endpoints.ts
  src/core/domain/user/index.ts
  src/core/domain/user/types.ts
  src/core/layout/ContentArea.tsx
  src/core/layout/app-bar/AppBar.tsx
  src/core/layout/app-drawer/AppDrawer.tsx
  src/core/layout/app-drawer/DrawerItem.test.tsx
  src/core/layout/app-drawer/DrawerItem.tsx
  src/core/react-query/ReactQueryProvider.tsx
  src/core/react-query/index.ts
  src/core/theme/ThemeControlContext.tsx
  src/core/theme/index.ts
  src/core/theme/themes.ts
  src/mocks/__fixtures__/userListResponse.json
  src/pages/contacts/ContactsPage.tsx
  src/pages/contacts/table/Table.tsx
  src/pages/contacts/table/TableBodyRows.tsx
  src/pages/contacts/utils.test.ts
  src/pages/contacts/utils.ts
  src/setupTests.ts
  src/shared/overlay/LoadingOverlay.tsx
  src/shared/overlay/index.ts
  src/shared/page/PageWrapper.test.tsx
  src/shared/page/PageWrapper.tsx
  src/shared/page/index.ts
  src/shared/placeholders/EmptyDataPlaceholder.test.tsx
  src/shared/placeholders/EmptyDataPlaceholder.tsx
  src/shared/placeholders/index.ts
  src/shared/utils/client.ts
  src/shared/utils/index.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --max-warnings 0

feat: implement contact update form dialog
  package.json
  src/core/domain/user/endpoints.ts
  src/core/domain/user/index.ts
  src/core/domain/user/labels.ts
  src/core/domain/user/types.ts
  src/pages/contacts/form/DepartmentSelect.tsx
  src/pages/contacts/form/DialogForm.tsx
  src/pages/contacts/form/GenderSelect.tsx
  src/pages/contacts/form/index.ts
  src/pages/contacts/table/Table.tsx
  src/pages/contacts/table/TableBodyRows.tsx
  src/shared/form/CheckboxController.tsx
  src/shared/form/CurrencyTextField.tsx
  src/shared/form/index.ts
  src/shared/hooks/index.ts
  src/shared/hooks/useDialog.test.ts
  src/shared/hooks/useDialog.ts
  src/shared/placeholders/EmptyRowPlaceholder.tsx
  src/shared/placeholders/index.ts
  src/shared/utils/client.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --max-warnings 0

chore: dockerize the project
  .dockerignore
  Dockerfile
  README.md
  config/nginx.conf
Due: yarn prettier --write
